nav{
    background-color:black;
}
h1{
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  color:white;
}
body{
    background-color:black;
    text-align: center;
}
p{
    color:white;
}
h2{
    color:white;
}
label{
    color:white;
}